.idea/
.vscode/
node_modules/
dist/
tmp/
temp/
# to avoid adding .env .env.local, .env.development.local, .env.production, etc.
.env*
!.env.example
#lets just ignore the coverage folder
coverage/
database/